#map{
	width:992px;
	height:684px;
	background: black;
	transform: scale(0.9,0.9);
}
#tool{
    /*pointer-events: none;*/
    position: absolute;
    width: 250px;
    height: 80px;
    background-color: #e6e6e6;
    display: none;
    z-index: 4;
    padding: 5px 0 5px 5px;
    font-size: 12px;
    border-radius: 2px;
    opacity: .9;
    box-shadow: 0 0 20px rgba(0,0,0,.3);
    color: #000;
    font-weight: 400;
    left: 663px;
    top: 211px;
}