body {
  padding-top: 100px;
}
.title{
	height:25px;
}
.summary{
	height:40px;
}
#timeSlider {
    width: 500px;
}
.manifestacion .tags{
	height:40px;
}
.label{
	margin-left:5px;
	display:inline-block;
}
